@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    /*Estilo Amarillo*/
    /*background: linear-gradient(90deg,#FFB914, #FFCF5F);*/
    /*Estilo Azul*/
    /*background: linear-gradient(90deg,#2735CF, #2CBCF4);*/
    width: 100%;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    /*Estilo Rojo*/
    /*background: linear-gradient(90deg,#CF4927, #F42C82);*/
    /*Estilo Verde*/
    /*background: linear-gradient(90deg, #26C82D,#E8F42C);*/
    padding: 20px;
}

.container-todo {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 45px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.container-form {
    width: 80%;
    padding: 40px;
    background: #f7f7f7;
    padding-bottom: 20px;
}

.logo {
    width: 90px;
    display: block;
    margin: auto;
}

.titulo {
    text-align: center;
    font-weight: 300;
    color: #7a7a7a;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #7a7a7a;
}

input[type="text"],input[type="password"] {
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0);
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: #0F88E3;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    margin-top: 60px;
    color: white;
    border: 0px;
    /*Estilo Amarillo*/
    /*background: linear-gradient(90deg,#FFB914, #FFCF5F);*/
    /*Estilo Azul*/
    background: linear-gradient(90deg,#2735CF, #2CBCF4);
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    /*Estilo Azul*/
    background: linear-gradient(90deg,#2CBCF4,#2735CF);
    /*Estilo Amarillo*/
    /*background: linear-gradient(90deg,#FFCF5F,#FFB914);*/
    font-weight: bold;
}

.logeo-footer {
    display: block;
    margin-top: 70px;
    text-align: center;
    color: #7a7a7a;
    font-weight: 300;
}

.logeo-footer a {
    color: #029EE1;
    font-weight: 500;
}

/*Estilo Información Derecha*/

.container-texto {
    width: 100%;
    background-image: url(../img/container.jpg);
    background-position: center;
    background-size: cover;
    padding: 40px;
    position: relative;
}

.capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #0F88E3,#2B1AB2);
    opacity: 0.8;
}

.titulo-desc {
    text-align: center;
    position: relative;
    top: 80px;
    color: white;
    font-weight: 300;
    font-size: 40px;
}

.texto-desc {
    position: relative;
    top: 110px;
    color: white;
    font-size: 18px;
    font-weight: 200;
}

.centrado{
    top: 40px;
    margin: 100px auto;
    display:block;
    position: relative;
}

.copyright{
    top: 680px;
    position: absolute;
    left: 300px;
}

/* DISEÑO MENSAJE ALERTA */
.msg-alerta{
    color:red;
    display: block;
    margin-top: 10px;
}

/* DISEÑO RESPONSIVE */
@media screen and (max-width: 800px){
    .container-texto{
        display: none;
    }

    .container-form{
        margin: auto;
        width: 100%;
        background: white;
    }
}