<div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 segmento-uno md-mb-30 sm-mb-30">
            <h3>Pijamas LuMaJi</h3>
            <p>La mejor opción para tus sueños.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segmento-dos md-mb-30 sm-mb-30">
            <p></p>
            <h2>Enlaces Directos</h2>
            <ul>
                <li><a href="#"><i class="fas fa-info-circle"></i> Nosotros</a></li>
                <li><a href="#"><i class="fas fa-tshirt"></i> Pijamas</a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segmento-tres sm-mb-30">
            <p></p>
            <h2>Síguenos</h2>
            <p>No te pierdas de todas las novedades, solo aquí</p>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fas fa-globe"></i></a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segmento-cuatro sm-mb-30">
            <p></p>
            <h2>Ubicación</h2>
            <p>Localizanos facilmente aquí</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245.62553102865036!2d-84.07577563798702!3d9.933249808257596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e366b31e1825%3A0xc7e80bd4f3a1e96e!2sUniversidad%20Castro%20Carazo%2C%20Edificio%20Biblioteca!5e0!3m2!1ses!2scr!4v1576036938514!5m2!1ses!2scr" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <p></p>
        </div>
    </div>
</div>
<div class="texto-footer">
    <p>Derechos Reservados &copy;Pijamas LuMaJi 2021</p>
</div>
</div>